.home {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    & a:nth-of-type(1) {
        @media (max-width: 400px) {
            display: none;
        }
    }

    & a:nth-of-type(2) {
        display: none;

        @media (max-width: 400px) {
            display: inline-block;
        }
    }

    .home-img {
        margin-bottom: 60px;

        img {
            width: 100%;
            height: auto;

            @media (max-width: $lg) {
                width: 496px;
            }

            @media (max-width: 524px) {
                width: 400px;
            }

            @media (max-width: 400px) {
                width: 305px;
            }
        }
    }
}
