$montserrat: "Montserrat", sans-serif;

$primary-color: #2f6db5;
$secondary-color: #c4c4c4;
$tertiary-color: #2b2b2b;
$background-color: #fafafa;
$white: #fff;
$black: #000;
$green: #1fa826;
$grey-darker: #858585;

// Breakpoints
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;
